<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-light navbar-light">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
  <a routerLink="view-accounts" class="nav-link" class="btn btn-primary active" role="button" >
    View Accounts
  </a>  
        </li>   
        <li class="nav-item">  
  <a  routerLink="add-account" class="nav-link" class="btn btn-primary active" role="button" >
    Add Account
  </a>  
        </li>  
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  