<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-light navbar-light">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
  <a routerLink="login" class="nav-link" class="btn btn-primary active" role="button" >
   Login
  </a>  
        </li>   
        <li class="nav-item">  
  <a  routerLink="mydata" class="nav-link" class="btn btn-primary active" role="button" >
    My Data
  </a>  
        </li>  
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  