<div class="container">
<h1 class="red"> Web application {{title}} is running</h1>

<hr>

<joke-list></joke-list>

<!-- <app-my-directive></app-my-directive> -->

<!-- <app-ngclass-ex></app-ngclass-ex> -->

<!-- <app-ngstyle-ex></app-ngstyle-ex> -->

<!-- <app-ngswitch-ex></app-ngswitch-ex> -->

<!-- <app-ngfor-ex></app-ngfor-ex> -->


<!-- <app-ngif-ex></app-ngif-ex> -->

<!-- <h1>Parent Component</h1>
<app-child1></app-child1>
<button (click)="callChildMethod()">Call Child Method</button> -->

 <!-- <app-customcard>
  <p>This is card1 for Manjiri</p>
</app-customcard>

<app-customcard>
  <font color="green">This is card2 for Ayushi</font>
</app-customcard>  -->

<!-- <app-child [message]="mymessage"   (newItemEvent)="getItem($event)"></app-child> -->

<hr>
<!-- <h2>From child data received is </h2>
<h3>{{myitem}}</h3> -->




<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-home></app-home> -->
</div>





<!-- <p>
  In other words when an AnguIn other words when an AnguIn other words when an AnguIn other words when an AnguIn other words when an AnguIn other words when an AnguIn other words when an AnguIn other words when an AnguIn other words when an Angular application is started, the Angular framework reads the main.ts file, which contains the bootstrap code, and it loads the specified module (AppModule). The framework then processes the metadata defined in AppModule and initializes the application accordingly. The main file responsible for bootstrapping an Angular application is typically named main.ts or main.js.
</p> -->