<p>ngswitch-ex works!</p>
<h2>Select Country </h2>

<select (change)="setDropSownValue($event)">
        <option value="">Select</option>
        <option value="In">India</option>
        <option value="usa">America</option>
        <option value="uae">Dubai</option>
</select>

<h2>You Have Selected</h2>
<div [ngSwitch]='dropDownValue'>
        <h3 *ngSwitchCase="'In'">India</h3>
        <h3 *ngSwitchCase="'usa'">United State</h3>
        <h3 *ngSwitchCase="'uae'">United Arab</h3>
        <h3 *ngSwitchDefault="">You have not selected any country</h3>    
</div>
<hr>


<h2 > With binding  {{dropDownValue}}</h2>

<h2 ngNonBindable > Widthout binding {{dropDownValue}}</h2>
